<html ng-app="Salsa">
    <head>
        <title>Salsa templates</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="main_controller.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body ng-controller="MainController">
        <div ng-repeat="card in cards">
            <div class="cardbase" ng-style="{'background-image': 'url(images/backg/' + card.TAUSTA +')'}">
                <div ng-if="card.PAALUOKKA !== 'Paikka' && card.PAALUOKKA !== 'Tapahtuma'">
                    <div class="title">
                        <div ng-show="card.PAALUOKKA === 'Hahmo'"> 
                            <h1 ng-show="card.KUVA !== 'jäätutkijanormaali.png'">{{card.NIMI}}</h1>
                            <h1 ng-show="card.KUVA === 'jäätutkijanormaali.png'" style="color: black">{{card.NIMI}}</h1>
                        </div>
                        <div ng-show="card.PAALUOKKA !== 'Hahmo' && card.PAALUOKKA !== 'Nimda'"> 
                            <h2>{{card.NIMI}}</h2>
                        </div>
                    </div>
                    <div class="stats">
                        <p class="statTerveys" ng-show="card.NIMI !== 'Keetongu' && card.NIMI !== 'Purifier'">{{card.TERVEYS}}</p>
                        <p class="statTerveys statTwoNumbers" ng-show="card.NIMI === 'Keetongu'">{{card.TERVEYS}}</p>
                        <p class="statTerveys statThreeNumbersTerveys" ng-show="card.NIMI === 'Purifier'">{{card.TERVEYS}}</p>
                        <p class="statPsyyke" ng-show="card.NIMI !== 'Purifier'">{{card.PSYYKE}}</p>
                        <p class="statPsyyke statThreeNumbersPsyyke" ng-show="card.NIMI === 'Purifier'">{{card.TERVEYS}}</p>
                    </div>
                    <div class="image">
                        <img ng-src="images/{{card.KUVA}}" alt="[KUVA]" class="cardimageCharacter" ng-show="card.PAALUOKKA === 'Hahmo'">
                        <img ng-src="images/{{card.KUVA}}" alt="[KUVA]" class="cardimageNimda" ng-show="card.PAALUOKKA === 'Nimda'">
                        <img ng-src="images/{{card.KUVA}}" alt="[KUVA]" class="cardimageOther" ng-show="card.PAALUOKKA !== 'Hahmo' && card.PAALUOKKA !== 'Nimda'">
                    </div>
                    <div class="text charactertext" ng-show="card.PAALUOKKA === 'Hahmo'">
                        <div class="rulestext">
                            <p>{{card.TEKSTI}}</p>
                        </div>
                        <div class="ability1text">
                            <p>{{card.KYKY1}}</p>
                        </div>
                        <div class="ability2text">
                            <p>{{card.KYKY2}}</p>
                        </div>
                        <div class="ability3text">
                            <p>{{card.KYKY3}}</p>
                        </div>
                    </div>
                    <div class="text othertext" ng-show="card.PAALUOKKA === 'Muu'">
                        <div class="rulestext">
                            <p>{{card.TEKSTI}}</p>
                        </div>
                    </div>
                    <div class="text nimdatext" ng-show="card.PAALUOKKA === 'Nimda'">
                        <div class="rulestext">
                            <p>{{card.TEKSTI}}</p>
                        </div>
                    </div>
                    <div class="price" ng-show="card.PAALUOKKA === 'Muu'">
                        <h3>{{card.HINTA}}</h3>
                    </div>
                    <div class="bottomtext">
                        <p ng-show="card.KUVA !== 'jäätutkijanormaali.png'">{{card.ID}}/{{card.CARDS}} | <img class="pen" src="images/icons/kyna.png"> {{card.TAITEILIJA}} | {{version}}</p>
                        <p ng-show="card.KUVA === 'jäätutkijanormaali.png'" style="color: black">{{card.ID}}/{{card.CARDS}} | <img class="pen" src="images/icons/kyna2.png"> {{card.TAITEILIJA}} | {{version}}</p>
                    </div>
                </div>
                <div class="rotate" ng-if="card.PAALUOKKA === 'Paikka'">
                    <img src="images/musta.png" class="musta" alt="musta" ng-show="card.NIMI === 'Lopputaistelu'">
                    <h2 class="rotatedtitle">{{card.NIMI}}</h2>
                    <img ng-src="images/{{card.KUVA}}" alt="[KUVA]" class="cardimagePaikka">
                    <p class="rotatedtext">{{card.TEKSTI}}</p>
                    <div class="rotatedbottomtext">
                        <p>{{card.ID}}/{{card.CARDS}} | <img class="rotatedpen" src="images/icons/kyna.png"> {{card.TAITEILIJA}} | {{version}}</p>
                    </div>
                </div>
                <div ng-if="card.PAALUOKKA === 'Tapahtuma'">
                    <h2 class="eventtitle">{{card.NIMI}}</h2>
                    <img ng-src="images/{{card.KUVA}}" alt="[KUVA]" class="cardimageTapahtuma">
                    <p class="eventtext">{{card.TEKSTI}}</p>
                    <div class="bottomtext">
                        <p>{{card.ID}}/{{card.CARDS}} | <img class="pen" src="images/icons/kyna.png"> {{card.TAITEILIJA}} | {{version}}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
