body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
    width: 210mm;
    height: 297mm;
}

h1 {
    font-size: 120%;
    font-weight: bold;
}

.cardbase {
    float: left;
    width: 63mm;
    height: 88mm;
    background-color: #C0C0C0;
    margin: 1mm;
    padding: 2mm;
    
    font-size: 70%;
}

.text {
    padding: 2mm;
}

.cardimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
        
    width: 5.334cm;
    height: 3.937cm;
}