@font-face {
    font-family: textbody;
    src: url(fonts/Electrolize-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    width: 210mm;
    height: 297mm;
}

h1 {
    font-size: 165%;
    font-weight: bold;
    font-family: textbody;
    color: #FFFFFF;
    word-wrap: break-word;
    text-transform: uppercase;
}

.title {
    width: 62mm;
    height: 15mm;

    position: relative;
    text-align: right;
    top: 6.5mm;

    display: table-cell;
    vertical-align: middle;
}

.cardbase {
    float: left;
    width: 2.74in;
    height: 3.74in;
    background-size: 2.74in 3.74in;
    background-color: #C0C0C0;

    font-size: 75%;
}

.text {
    position: relative;
    top: 5.5mm;
    left: 6mm;
    
    width: 49mm;
    
    padding: 2mm;
    
    word-wrap: break-word;
    
    display: table-cell;
    vertical-align: middle;
}

.cardimage {
    position: relative;
    top: 3.65mm;
    left: 15.8mm;

    width: 48.5mm;
    height: 34.5mm;
}